body{
    text-align: center;
    align-items:center;
}
h2{
    font-family: 'Comfortaa';
    text-align: center;
    font-weight: bold;
}
h3{
    color: #ffffff;
}

h4{
    text-align:center;
}
h5{
    text-align:center;
}
h6{
    text-align:center;
}